# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

* List some popular languages for DS
* List commonly used libraries
* Give some examples of arithmetic expression in Python

## Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. JavaScript
5. Julia

## Some of the commonly used libraries used by Data Scientists include:

| Data Science Tools |
|--------------------|
| RStudio | 
| Apache Spark |
| Jupyter Notebooks | 
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python:

 <!--This a simple arithmetic
 expression to mutiply then add integers

In [25]:
 (3*4)+5

17

<!--This will convert 200 minutes
 to hours by diving by 60

In [29]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Jeciane